
body {
  margin: 0;
  padding: 0;
position: fixed;
  width: 100vw;
  height: 100vh;

}
.MainSec {
  display: fixed;
  height: 100%;
  width: 100%;
}
.MainSecText p {
  color: black;
  font-weight: bold;
  font-size: 22px;
}
.MainSecText {
  position:  fixed;
  left: calc(50% - 7cm);
  top: 15%;
}
div.circle {
  border-radius: 50%;
  background: red;
  color: white;
  font-weight: bold;
  font-size: 22px;
  width: 5cm; 
  height: 5cm;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  text-align: center;
  top: 20%;
  left: calc(45% - 2.5cm);

}
.MainButtons {
  position: fixed;
  top: calc(20% + 1cm)  ;
  left:calc(50% + 7cm) ;
  
}
button {
  width: 300px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  font-size: 17pt;
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
}
@media screen and (min-width:1px) and (max-width:1200px) {
  .MainSecText {
    left: calc(50% - 4cm);
    top: 20%;
  }
  div.circle {
    top: 25%;
    left: calc(50% - 2.5cm);
  
  }
  .MainButtons {
    top: calc(60%)  ;
    left:calc(50% - 150px) ;
    
  }
}
@media screen and (min-width:1px) and (max-width:300px) {
  .MainSecText {
    display: none;
  }
}
