body {
    height: 100vh;
    width: 99vw;
    overflow: hidden;
}
.MainSecText {
    text-align: center;
    margin-left: auto;
    
}
.MainSecText p {
    font-weight: bold;
    font-size: 32px;
    margin-top: 10%;

}
.circle img {
    width: fit-content;
    height: fit-content;
}
.circle {
    width: fit-content;
    height: fit-content;
}
.MaiSecCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    margin-right: 50px;
}
   
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
    position: absolute;
    left: 80px;
}
.visually-right {
    position: absolute;
    left:150px;
    font-size: 22px;
    color: black;
}
.carousel-control-prev-icon {
    position: absolute;
    right: 40px;
}
.visually-left {
    position: absolute;
    right:150px;
    font-size: 22px;
    color: black;
}
@media screen and (min-width:1px) and  (max-width:625px) {
    .visually-left {
        display: none;
    }
    .visually-right {
        display: none;
    }
}